#people {
  margin-top: 1.2em;
}

#people::placeholder {
  padding-left: 25em; 
}

#total::placeholder {
  padding-left: 25em; 
}


div.settle button:hover {
  background-color: hsl(172, 67%, 45%);
}

.blurp {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  display: inline-block;
  margin-top: 1.2em;
}

.header {
  margin-bottom: 30px;
}

.set {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.3em;
}

.gap {
  padding-top: 1.2em;
  margin-bottom: 1.9em;
}

.topMargin {
  padding-right: 1.2em;
  padding-top: 1.5em;
  padding-bottom: 1.2em;
  padding-left: 1.2em;
}

.tipColor {
  background-color: hsl(183, 100%, 15%);
  color: hsl(185, 41%, 84%);
}

.reset {
  margin-top: 1.2em;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.radius {
  border-radius: 1em;
}

.margin {
  margin-top: 5em;
}


.amount{
  font-size: 40px;
}

.amount1{
  font-size: 40px;
}

.tpamt {
  margin-top: 1em;
  font-size: 14px;
  display: inline-block;
}

.tpamt1 {
  display: block;
}

.tot {
  margin-top: 1em;
  font-size: 14px;
  display: inline-block;
}

.tot1 {
  font-size: 14px;
  display: block;

}

.color1 {
  color: hsl(189, 41%, 97%);
  background-color: hsl(183, 100%, 15%);
  width: 6em;
  margin-top: 1.2em;
}

.color2 {
  background-color: hsl(189, 41%, 97%);
  width: 6em;
  margin-top: 1.2em;
  font-weight: 700;
}

.sizing {
  display: inline-block;
  width: 6.1em;
  height: 2.4em;
}

.back {
  background-color: hsl(189, 41%, 97%);
}

body {
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

p {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}


input {
 display: block;
}

label {
  color: hsl(186, 14%, 43%);
  font-weight: 700;
  font-size: .9em;
}

footer {
  color: hsl(184, 14%, 56%);
  display: inline-block;
}

input[type= "text"] {
  border-left: none;
  background-color: hsl(189, 41%, 97%);
}



@media (min-width:768px) and (max-width:992px) {

  .total {
    font-size: .7em;
    
  }

  .color1 {
    font-size: .7em;
  }

  .color2 {
    font-size: .7em;
  }

  .blurp {
    font-size: .6em;
  }


  .people{
    font-size: .8em;
  }

  .tpamt {
    margin-top: .3em;
    font-size: .8em;
  }

  .tpamt1 {
    font-size: .8em;
  }

  .amount{
    font-size: 1.2em;
  }

  .tot{
    margin-top: .3em;
    font-size: .8em;
  }

  .tot1 {
    font-size: .8em;
  }

  .amount1 {
    font-size: 1.1em; 
  }

}


@media (min-width:992px) and (max-width:1200px) {

  .total {
    font-size: .9em;
    
  }

  .color1 {
    font-size: .9em;
  }

  .color2 {
    font-size: .9em;
  }

  .blurp {
    font-size: .9em;

  }


  .people{
    font-size: .9em;

  }

  .tpamt {
    font-size: .9em;
  }

  .amount{
    font-size: 1.6em;
  }

  .tot{
    font-size: .9em;
  }

  .amount1 {
    font-size: 1.6em;
    margin-left: 3.7em;
  }
}



